<p>This is the geomark view.</p>
<form class="geo-form" role="form" name="form" novalidate >


    <div class="form-group">
        <label for="Comment">Enter a comment </label>
        <input type="text" class="form-control" id="Comment" placeholder="Enter comment" name="Comment"
               ng-model="defGeo.comment"/>
        <!--  <span ng-show="form.pontun.$error.integer" class="sample-show-hide">This is not valid integer!</span>
          &lt;!&ndash;"form.pontun.$error.integer"this is corresponding to a form and input ID NOT a data model !&ndash;&gt;
           <span ng-show="form.pontun.$error.min || form.pontun.$error.max">
        The value must be in range 300000 to 999999!</span>-->
    </div>


    </div>
    <div class="form-group">
        <label for="rekkan">Rekkan</label>
        <input type="number" class="form-control" id="rekkan" placeholder="Rekkan" name="rekkan"
               ng-model="defGeo.rekkan" max="9999" integer/>
        <span ng-show="form.rekkan.$error.integer" class="sample-show-hide">This is not valid integer!</span>
        <!--"form.pontun.$error.integer"this is corresponding to a form and input ID NOT a data model in controller!-->
           <span ng-show=" form.rekkan.$error.max">
        The value must not be biger than 9999!</span>
    </div>
    <!--    <div class="form-group">
            <label for="siminn">Siminn</label>
            <input type="tel" class="form-control" id="siminn" placeholder="Sima numer" name="siminn"  ng-model="od.siminn" />

        </div>-->

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="geoRec()">
        Skrá
    </button>
   <a ng-href="#/googleMap">
       <button class="btn btn-danger btn-lg btn-block">Cancel</button>
   </a>
</form>
