<p>This is the landingMap view.</p>
<div>
    <button ng-model="showForm" ng-click="showForm=true" ng-hide="showForm" type="button"
            class="btn btn-primary btn-lg">Mark Geo
    </button>
    <p></p>

</div>
<form class="geo-form" role="form" name="form" novalidate ng-show="showForm">
    <!--    <div class="form-group">
            <label   class=" control-label" >Rekka:</label>
            <div >
                <p class="form-control-static"><span><h3 style="color: #3276b1">{{ defentr.pontun}}</h3></span></p>
            </div>
        </div>-->

    <div class="form-group">
        <label for="Comment">Enter a comment </label>
        <input type="text" class="form-control" id="Comment" placeholder="Enter comment" name="Comment"
               ng-model="defGeo.comment"/>
        <!--  <span ng-show="form.pontun.$error.integer" class="sample-show-hide">This is not valid integer!</span>
          &lt;!&ndash;"form.pontun.$error.integer"this is corresponding to a form and input ID NOT a data model !&ndash;&gt;
           <span ng-show="form.pontun.$error.min || form.pontun.$error.max">
        The value must be in range 300000 to 999999!</span>-->
    </div>


    </div>
    <div class="form-group">
        <label for="rekkan">Rekkan</label>
        <input type="number" class="form-control" id="rekkan" placeholder="Rekkan" name="rekkan"
               ng-model="defGeo.rekkan" max="9999" integer/>
        <span ng-show="form.rekkan.$error.integer" class="sample-show-hide">This is not valid integer!</span>
        <!--"form.pontun.$error.integer"this is corresponding to a form and input ID NOT a data model !-->
           <span ng-show=" form.rekkan.$error.max">
        The value must be not biger than 9999!</span>
    </div>
    <!--    <div class="form-group">
            <label for="siminn">Siminn</label>
            <input type="tel" class="form-control" id="siminn" placeholder="Sima numer" name="siminn"  ng-model="od.siminn" />

        </div>-->

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="geoRec()">
        Skrá
    </button>
    <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="showForm=false">
        Cancel
    </button>
</form>

<div>
    <a ng-href="#/googleMap">
        <button ng-model="showForm" ng-click="showForm=true" ng-hide="showForm" type="button"
                class="btn btn-primary btn-lg">Map &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </a>

</div>