

    Always a pleasure scaffolding your apps.
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Ispan</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-left navbar-input-group" role="search">
                    <div class="form-group">
                        <input  ng-model="query" type="text" class="form-control" placeholder="Slá pöntun">
                    </div>&nbsp;
                    <a href="#/search/{{ query }}" class="btn btn-default" id="get-data-btn">Leita Pöntun</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                    <li><a href="#/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>

                </ul>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <!-- / Navbar -->
            <div>
              <p></p>
            <p> Vinsamlegast slá ponutnarnumer her að ofan.</p>
            <p> Notið 171717, 141414 eða 121212 </p>
            <p>In future this will be replaced with a code provided by sales department </p>
            </div>


            <div style="border-top: solid black 1px;">
                <h2>Featured Products</h2>
                <img src="images/1.jpg" alt="Gluggi" class="img-rounded">
                <img src="images/2.jpg" alt="Gluggi" class="img-rounded">
                <img src="images/3.jpg" alt="Gluggi" class="img-rounded">
            </div>

<div class="footer">
    <img ng-src="images/logo.png" alt="Ispan HF"><br>
  <p>Ispan HF</p>
</div>
